.blog-content-main {
    width: 22rem;
    transition: all 500ms;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.blog-content-link {
    text-decoration: none;
    color: black;
}

.blog-content-main img {
    height: 300px;
    /* width: 75%; */
    transform: scale(0.8, 0.8);
    transition: all 700ms;
    border-radius: 20px;
}

#bg-danger:hover {
    background-color: red;
}

.blog-card-body {
    padding: 0 10px 10px 10px;
    transition: all 700ms;
}


.blog-content-main:hover .blog-card-body {
    color: #199bf7;
}

.blog-content-main:hover {
    transform: translateY(10px) !important;
}

.blog-content-main:hover img {
    transform: scale(1, 1) !important;
    border-radius: 0px !important;
    padding-bottom: 10px;
}

.text-end {
    font-size: 12px;
    color: dimgray;
    transition: all 500ms;
}

.btn-field {
    font-size: 20px;
    font-weight: 700;
    padding: 7px 25px;
    border-radius: 5px;
    background-color: #FF87CA;
    border: none;
    transition: all 500ms;
}

.btn-field:hover {
    color: #fff;
    background-color: #D47AE8;
    transform: translateX(10px);
}