.doctorlist-card {
    width: 22rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: all 500ms;
}
.doctorlist-card:hover{
    transform: translateY(10px) !important;
}
.doctorlist-card img{
    height: 250px;
    border-radius: 15px 15px 15px 15px;

}

.doctorlist-card-body {
    padding: 10px;
}

.btn-field{
    font-size: 20px;
    font-weight: 700;
    padding: 7px 25px;
    border-radius: 5px;
    background-color: #FF87CA;
    border: none;
    transition: all 500ms;
}
.btn-field:hover{
    color: #fff;
    background-color: #D47AE8;
    transform: translateX(10px);
}