.doctorlist-card {
    width: 22rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: all 500ms;
}
.doctorlist-card:hover{
    transform: translateY(10px) !important;
}
.doctorlist-card img{
    height: 250px;
    border-radius: 15px 15px 15px 15px;

}

.doctorlist-card-body {
    padding: 10px;
}