.header-content-main{
    background: url('../../../Assets//Images/bg-home.jpg');
    border-radius: 0 0 0 200px;
    margin-top: 85px;
}
.btn-field{
    font-size: 20px;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #FF87CA;
    border: none;
    transition: all 300ms;
}
.btn-field:hover{
    color: #fff;
    background-color: #D47AE8;
    transform: translateX(10px);
}