.about-content{
    background: url("../../../Assets/Images/bg-about-img.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.text-header{
    color: #84DFFF;
}
.text-para{
    color: #22577E;
    font-weight: 600;
}
