.about-main{
    background: url("../../../Assets/Images/bg-about-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-header{
    color: #84DFFF;
}
.text-para{
    color: #22577E;
    font-weight: 600;
}
