.contact-form-container{
    margin-top: 150px;
    background: #dedfe0bd;
}
.contact-form-content{
    padding: 30px 20px;
    border-radius: 10px;
}
.btn-contact{
    background: #dedfe0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
    font-size: 18px;
    font-weight: 700;
    transition: all 500ms;
    padding: 10px 20px;
}
.btn-contact:hover{
    /* color: #fff; */
    background-color: #e5edf5bd;
    /* transform: translateX(10px); */
}
.contact-img{
    border-radius: 20px;
}
