/* .service-img{
    height: 50px;
    width: 70px;
}
.admin-container{
  background: #bdb2ff;
}
.order-component{
    background: #BFE2E9;
    padding: 20px;
} */

.dashboard-main{
  /* height: 100vh !important; */
}