.navbar{
    background-color: #000c6bb6;
}
.brandicon {
    height: 60px;
    width: 60px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    color: #FF0000 !important;
    transition: all 600ms;
}
.navbar-brand:hover{
    transform: translateX(10px);
}

.nav-link {
    font-size: 20px;
    font-weight: 700;
    transition: all 600ms;
    color: #fff !important;
}
.nav-link:hover{
    transform: translateY(-10px);
    color: red !important;
    font-weight: 700;
}

.first-letter {
    font-size: 40px;
    color: #FF5DA2;
}
.sign-out-btn{
    font-size: 20px;
    font-weight: 700 !important;
    background-color: red !important;
    color: #fff;
    text-decoration:none;
    transition: all 500ms;
    margin-left: 10px;
}
.sign-out-btn:hover{
    color: red;
    background-color: #fff !important;
    transform: translateY(-10px) !important;
}
.user-img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.btn-login{
    background-color: aqua;
    padding: 8px 30px !important;
    color: #F2789F !important;
}
.btn-login:hover{
    color: green !important;
}

#admin{
    border: 5px solid green;
}