.navbar {
    /* background-color: #000c6bb6; */
    /* background-color: #07f5f575; */
    /* background: transparent; */
    transition: all 500ms;
}

.showNavbar {
    background-color: #199bf7 !important;
    opacity: 0.9 !important;
}

.brandicon {
    height: 60px;
    width: 60px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    color: #000B49 !important;
    transition: all 600ms;
}

.navbar-brand:hover {
    transform: translateX(10px);
}

.nav-link {
    font-size: 20px;
    font-weight: 700;
    transition: all 600ms;
    color: #000957 !important;
}

.nav-link:hover {
    transform: translateY(-10px);
    color: #4d3f91d3 !important;
    font-weight: 700;
}

.txt-danger {
    color: #b90b0be1 !important;
}

.first-letter {
    font-size: 40px;
    /* color: #370665; */
}

.sign-out-btn {
    font-size: 20px;
    font-weight: 700 !important;
    background-color: red !important;
    color: #fff;
    text-decoration: none;
    transition: all 500ms;
    margin-left: 10px;
    padding: 10px 30px !important;
}

.sign-out-btn:hover {
    color: red;
    background-color: #fff !important;
    transform: translateY(-10px) !important;
}

.user-img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.btn-login {
    background-color: #000b49d5;
    padding: 8px 30px !important;
    color: #fff !important;
}

.btn-login:hover {
    color: green !important;
    background: #000B49;
}

.btn_register {
    background-color: #0728e6;
    padding: 8px 30px !important;
    color: #fff !important;
    margin: 0 0 0 10px;
}

.btn_register:hover {
    color: #000957 !important;
    background: #0728e6;
}

#admin {
    border: 5px solid green;
}

#super-admin {
    border: 5px solid #781D42;
}

#user-name {
    /* background-color: #199bf73f; */
    border-radius: 5px;
    color: #07f5f5 !important;
}

/* @media (max-width: 991px){
    .navbar{
        background: #07f5f5;
        opacity: 0.6;
        color: #07f5f5
    }
} */