.brandicon {
    height: 60px;
    width: 60px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    color: #FF0000 !important;
    transition: all 600ms;
}
.navbar-brand:hover{
    transform: translateX(10px);
}

.navbar-nav a {
    font-size: 20px;
    font-weight: 700;
    transition: all 600ms;
}
.navbar-nav a:hover{
    transform: translateY(-10px);
}

.first-letter {
    font-size: 40px;
    color: #FF9300;
}