.blog-details-card{
    width: 80rem;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
}
.blog-details-card img{
    width: 20rem;
    margin: auto;
}
.blog-details-card-body{
    /* margin: auto; */
    /* text-align: center; */
    padding: 0 20px;
}