.sidebar{
    background: #5f6aec;
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
    font-weight: 700;
    /* font-size: 20px; */
    text-transform: uppercase;
}
.sidebar li:hover span{
    display: inline-block;
    color: #9A0680;
    transform: translateX(10px) !important;
    font-weight: 700;
}
.sidebar svg{
    margin-right: 5px;
}
.sidebar-container{
    padding-top: 95px;
}
.logout{
    color: #9A0680 !important;
}

.super-admin-panel li{
    padding-left: 50px;
    /* margin-top: -8px !important; */
}
.admin-panel li{
    padding-left: 50px;
}