.register_container {
    background: url('../../Assets/Images/bg-register.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register_container_inner {
    padding: 130px 0 120px 0;
}

.register_right_side {
    /* background-color: #5f6aec; */
    background: url('../../Assets/Images/login_right_side_img.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    padding: 60px 50px 30px 50px;
    border-radius: 10px 10px 10px 10px;

    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.register_form>div {
    margin: auto !important;
}

.register_btn {
    width: 250px;
    padding: 10px;
    color: #fff;
    background: rgb(80, 211, 54);
    font-size: 24px;
    font-weight: 700;
    transition: 400ms;
}

.register_btn:hover {
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
}