.ForgotPassword_container{
    padding-top: 200px !important;
    background: url('../../Assets/Images/login_background_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.ForgotPassword_container_inner{
    background: url('../../Assets/Images/login_right_side_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 600px;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
}
.ForgotPassword_form{
    /* width: 40%;
    margin: auto; */
}
.ForgotPassword_form>div {
    margin: auto !important;
}

.reset_password_btn {
    width: 250px;
    padding: 10px;
    color: #fff;
    background: #5f6aec;
    font-size: 24px;
    font-weight: 700;
}